<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <div id="viewAnnouncement" data-dojo-type="dojox/mobile/View" selected="true">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/announcement.html'">
        </div>
    </div>
    <div id="viewPressRelease" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/pressRelease.html'">
        </div>
    </div>
    <div id="viewHome" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/home.html'">
        </div>
    </div>
    <div id="viewGraphic" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/graphic.html'">
        </div>
    </div>
    <div id="viewMarketOutlook" data-dojo-type="app/widget/special/home/ViewMarketOutlook">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/marketOutlook.html'">
        </div>
    </div>
    <div id="viewBluetooth" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/bluetooth.html'">
        </div>
    </div>
    <div id="viewBluetoothMessageList" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/bluetoothMessageList.html'">
        </div>
    </div>
    <div id="viewLayout" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/layout.html'">
        </div>
    </div>
    <div id="viewResourceMonitor" data-dojo-type="app/widget/special/home/ViewResourceMonitor">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/resourceMonitor.html'">
        </div>
    </div>
    <div id="viewResourceMonitorSetting" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/resourceMonitorSetting.html'">
        </div>
    </div>
    <div id="viewResourceList" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/resourceList.html'">
        </div>
    </div>
    <div id="viewResourceInformation" data-dojo-type="app/widget/special/home/ViewResourceInformation">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/resourceInformation.html'">
        </div>
    </div>
    <div id="viewMessageList" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/messageList.html'">
        </div>
    </div>
    <div id="viewCanvas" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/canvas.html'">
        </div>
    </div>
    <div id="viewPhoto" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/photo.html'">
        </div>
    </div>
    <div id="viewWebGL" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/webGL.html'">
        </div>
    </div>
    <div id="viewPhoneInformation" data-dojo-type="app/widget/special/home/ViewPhoneInformation">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/phoneInformation.html'">
        </div>
    </div>
</body>
</html>
